<%= stylesheet_link_tag "first"%>
<div class = "Cards"> 
    <h1 class = "val"><%=@value[0]%></h1>
    <h2 class = "val2"><%=@suit[0]%></h2>
    <h1 class = "val"><%=@value[1]%></h1>
    <h2 class = "val2"><%=@suit[1]%></h2>
    <h1 class = "val"><%=@value[2]%></h1>
    <h2 class = "val2"><%=@suit[2]%></h2>
    <h1 class = "val"><%=@value[3]%></h1>
    <h2 class = "val2"><%=@suit[3]%></h2>
    <h1 class = "val"><%=@value[4]%></h1>
    <h2 class = "val2"><%=@suit[4]%></h2>
</div>