<%= stylesheet_link_tag "first"%>
<div class = "Cards_Dealer row">
<div class = "col">
<% @cards_dealer.each do |c| %>
    <img src = <%=c["image"]%> class="rounded float-left" width="140" height = "200"/> 
<% end %>
<h1 class = "count">COUNT : <%=@dealer_count%></h1>
</div>
</div>
<div class = "row">
    <div class = "col">
        <h1 class = "message"><%=@message%></h1>
    </div>
</div>
<div class = "Cards_Player row"> 
<div class = "col">
<% @cards_player.each do |c| %>
    <img src = <%=c["image"]%> class="rounded float-left" width="140" height = "200"/> 
<% end %>
<h1 class = "count">COUNT : <%=@player_count%></h1>
</div>
</div>  
<div class = "row hit">
    <div class = "col"></div>
    <div class = "col">
        <%= link_to "HIT", "hit", class: "btn btn-warning btn-lg" %>
    </div>
    <div class = "col">
        <%= link_to "RESET", "reset", class: "btn btn-warning btn-lg" %>
    </div>
    <div class = "col">
    <%= link_to "STAY", "stay", class: "btn btn-warning btn-lg" %>
    </div>
</div>

